* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
html {
  font-size: 62.5%;
}
body {
  background: #000;
  color: #fff;
}
.transition {
  transition: all 0.5s ease-out;
}
/**无样式的弹性布局**/
.cell {
  display: flex;
  /*横向排列*/
  flex-direction: row ;
  /*不换行*/
  flex-wrap: nowrap;
  /*两端对齐*/
  justify-content: space-between;
  /*垂直居中*/
  align-items: center;
}
.cell .cell-hd {
  flex-grow: 0;
  flex-shrink: 0;
}
.cell .cell-bd {
  flex-grow: 1;
  flex-shrink: 1;
}
.cell .cell-ft {
  flex-grow: 0;
  flex-shrink: 0;
}
.section {
  padding: 0px 3rem;
}
.page_1 {
  position: relative;
}
.page_1 .page_1_content_wrap {
  position: relative;
}
.page_1 .title {
  font-size: 2rem;
  letter-spacing: 1.8rem;
  text-align: center;
}
.page_1 .subtitle {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1.2rem;
  color: #717171;
  letter-spacing: 0.2rem;
}
.page_1 .btn-wrap {
  text-align: center;
  font-size: 0rem;
  margin-top: 10rem;
}
.page_1 .btn-wrap button {
  display: inline-block;
  width: 22.5rem;
  height: 5rem;
  background: none;
  border: 1px solid #717171;
  color: #fff;
  font-size: 1.6rem;
}
.page_1 .btn-wrap button:focus {
  background: #3e3d3d;
}
.section {
  padding-top: 6rem;
}
.section .title p {
  font-size: 1.7rem;
}
.section .title hr {
  width: 3.2rem;
  height: 0.2rem;
  background: #fff;
  display: block;
  margin-top: 1rem;
}
.section .content {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #dfdddd;
  margin: 5rem 0rem;
}
.img_wrap {
  text-align: center;
  margin-top: 2rem;
}
.img_wrap:first-child {
  margin-top: 5rem !important;
}
.img_wrap img {
  width: 12rem;
  display: inline-block;
}
.img_wrap p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 3.4rem;
}
.mt-8rem {
  margin-top: 8rem;
}
.mb-4rem {
  margin-bottom: 4rem;
}
.mt-2rem {
  margin-top: 2rem !important;
}
.mb-2rem {
  margin-bottom: 2rem !important;
}
.section > img {
  display: block;
  width: 30rem;
  height: auto;
  margin: 8rem auto;
}
.prod-img-wrap {
  margin: 5rem 0rem;
}
.prod-img-wrap img {
  width: 7rem;
}
.navbar-inverse {
  background-color: #000 !important;
  border-color: #000 !important;
}
.navbar-header img {
  display: block;
  height: 20px;
}
.navbar {
  border: none !important;
}
.footer {
  background: #fff;
  font-size: 1.4rem;
  color: #5c5c5c;
  vertical-align: middle;
  padding: 1.5rem 0rem;
}
.footer .logo img {
  display: block;
  margin: auto;
  width: 2.5rem;
}
.footer .cell-bd {
  text-align: center;
}
