* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #000;
}
.transition {
  transition: all 0.5s ease-out;
}
.center-point {
  left: 0px !important;
}
@keyframes satellite_rotate_animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes _satellite_rotate_animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes _satellite_rotate_animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes breathing_animation {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.125);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
.start {
  position: absolute !important;
  border: 2px solid #b4b4b4;
  color: #fff;
  text-align: center;
  z-index: 999;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
  font-size: 1.4rem;
}
.start:hover {
  background: #fff;
  color: #000;
  transform: scale(1.015);
}
.start p {
  display: none;
}
.start .word {
  display: block;
}
.start:hover .button {
  display: block;
}
.start:hover .word {
  display: none;
}
.start-greater {
  position: absolute !important;
  border: 2px dashed #b4b4b4;
  color: #fff;
  text-align: center;
  transition: all 0.5s ease-out;
  z-index: 999;
}
.start-greater > p {
  display: none !important;
}
.start-greater:hover {
  transform: scale(1.015);
}
.circle-middle {
  z-index: 998;
}
.circle-middle-greater {
  z-index: 998;
}
.circle-middle-greater .satellite-wrap .satellite {
  left: 0px !important;
  background-color: #f9d010 !important;
  box-shadow: 0px 0px 15px 6px rgba(249, 208, 0, 0.5) !important;
}
.circle-big {
  z-index: 997;
}
.circle-big-greater {
  z-index: 997;
}
.circle-big-greater .satellite-wrap .satellite {
  left: 0px !important;
  background-color: #f9d010 !important;
  box-shadow: 0px 0px 15px 6px rgba(249, 208, 0, 0.5);
  animation: breathing_animation 3.5s ease-out infinite;
}
@media screen and (max-width: 640px) {
  .circle-nav {
    left: -35px;
    right: -35px;
    height: 20px;
    line-height: 22px;
  }
  .start {
    font-size: 1.2rem;
  }
  .start-greater .circle-nav {
    top: -31px;
    right: 46px;
  }
  .start-greater .circle-nav .content {
    padding: 0px;
  }
  .circle-middle-greater .circle-nav {
    right: -12px;
    top: 49.5px;
    display: block;
  }
  .circle-big-greater .circle-nav {
    right: -29px;
    top: 166px;
    display: block;
  }
  .animation-box {
    width: 400px;
    height: 400px;
    position: absolute;
    margin-top: 60px auto;
  }
  .start {
    width: 78px;
    height: 78px;
    left: 50%;
    top: 200px;
    margin-top: -39px;
    margin-left: -39px;
    border: 2px solid #b4b4b4;
    border-radius: 39px;
    line-height: 78px;
  }
  .start-greater {
    width: 155px;
    height: 155px;
    left: 200px;
    top: 200px;
    margin-top: -77.5px;
    margin-left: -77.5px;
    border: 2px dashed #b4b4b4;
    border-radius: 77.5px;
    line-height: 155px;
  }
  .circle-middle {
    width: 124px;
    height: 124px;
    display: block;
    position: absolute;
    border-radius: 62px;
    border: 1.5px solid #b4b4b4;
    left: 200px;
    top: 200px;
    margin-top: -62px;
    margin-left: -62px;
  }
  .circle-middle:hover {
    transform: scale(1.015);
  }
  .circle-middle .satellite-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-out;
    animation: _satellite_rotate_animation 20s linear infinite;
    /*animation-iteration-count:3;*/
  }
  .circle-middle .satellite-wrap .satellite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 62px;
    background: #fff;
    box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    transition: all 0.5s ease-out;
  }
  .circle-middle-greater {
    width: 231px;
    height: 231px;
    display: block;
    position: absolute;
    border-radius: 115.5px;
    border: 1.5px dashed #b4b4b4;
    left: 200px;
    top: 200px;
    margin-top: -115.5px;
    margin-left: -115.5px;
  }
  .circle-middle-greater:hover {
    transform: scale(1.015);
  }
  .circle-middle-greater .satellite-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-out;
    animation: _satellite_rotate_animation 20s linear infinite;
    /*animation-iteration-count:3;*/
  }
  .circle-middle-greater .satellite-wrap .satellite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 115.5px;
    background: #fff;
    box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    transition: all 0.5s ease-out;
  }
  .circle-big {
    width: 167px;
    height: 167px;
    display: block;
    position: absolute;
    border-radius: 83.5px;
    border: 1px solid #b4b4b4;
    left: 200px;
    top: 200px;
    margin-top: -83.5px;
    margin-left: -83.5px;
  }
  .circle-big:hover {
    transform: scale(1.015);
  }
  .circle-big .satellite-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-out;
    animation: satellite_rotate_animation 10s linear infinite;
    /*animation-iteration-count:3;*/
  }
  .circle-big .satellite-wrap .satellite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 83.5px;
    background: #fff;
    box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    transition: all 0.5s ease-out;
  }
  .circle-big-greater {
    width: 350px;
    height: 350px;
    display: block;
    position: absolute;
    border-radius: 175px;
    border: 1px dashed #b4b4b4;
    left: 200px;
    top: 200px;
    margin-top: -175px;
    margin-left: -175px;
  }
  .circle-big-greater:hover {
    transform: scale(1.015);
  }
  .circle-big-greater .satellite-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-out;
    animation: satellite_rotate_animation 10s linear infinite;
    /*animation-iteration-count:3;*/
  }
  .circle-big-greater .satellite-wrap .satellite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 175px;
    background: #fff;
    box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    transition: all 0.5s ease-out;
  }
  .word-cntr p {
    width: 30rem;
  }
  .phone-git img {
    width: 39rem;
  }
  .codes {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .codes .cell {
    width: 30rem;
  }
  .codes .cell img {
    width: 7rem;
  }
  .footer-cntr {
    padding: 2rem !important;
  }
  .footerss,
  .footerss .fp-tableCell {
    height: 93px !important;
  }
}
@media screen and (min-width: 640px) {
  .circle-nav {
    left: -35px;
    right: -35px;
    height: 20px;
    line-height: 22px;
  }
  .start-greater .content {
    margin-left: -170px;
    margin-right: -208px;
  }
  .start-greater .circle-nav {
    top: 120px;
  }
  .circle-middle-greater .circle-nav {
    right: -68px;
    top: 196px;
    display: block;
  }
  .circle-big-greater .circle-nav {
    right: -72px;
    top: 290px;
    display: block;
  }
  .animation-box {
    width: 800px;
    height: 800px;
    position: absolute;
    margin: 60px auto;
  }
  .start {
    width: 156px;
    height: 156px;
    left: 50%;
    top: 400px;
    margin-top: -78px;
    margin-left: -78px;
    border: 2px solid #b4b4b4;
    border-radius: 78px;
    line-height: 156px;
  }
  .start-greater {
    width: 260px;
    height: 260px;
    left: 400px;
    top: 400px;
    margin-top: -130px;
    margin-left: -130px;
    border: 2px dashed #b4b4b4;
    border-radius: 130px;
    line-height: 260px;
  }
  .circle-middle {
    width: 248px;
    height: 248px;
    display: block;
    position: absolute;
    border-radius: 124px;
    border: 1.5px solid #b4b4b4;
    left: 400px;
    top: 400px;
    margin-top: -124px;
    margin-left: -124px;
  }
  .circle-middle:hover {
    transform: scale(1.015);
  }
  .circle-middle .satellite-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-out;
    animation: _satellite_rotate_animation 20s linear infinite;
    /*animation-iteration-count:3;*/
  }
  .circle-middle .satellite-wrap .satellite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 124px;
    background: #fff;
    box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    transition: all 0.5s ease-out;
  }
  .circle-middle-greater {
    width: 412px;
    height: 412px;
    display: block;
    position: absolute;
    border-radius: 206px;
    border: 1.5px dashed #b4b4b4;
    left: 400px;
    top: 400px;
    margin-top: -206px;
    margin-left: -206px;
  }
  .circle-middle-greater:hover {
    transform: scale(1.015);
  }
  .circle-middle-greater .satellite-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-out;
    animation: _satellite_rotate_animation 20s linear infinite;
    /*animation-iteration-count:3;*/
  }
  .circle-middle-greater .satellite-wrap .satellite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 206px;
    background: #fff;
    box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    transition: all 0.5s ease-out;
  }
  .circle-middle-greater .content {
    margin-left: -94px;
    margin-right: -102px;
  }
  .circle-big {
    width: 334px;
    height: 334px;
    display: block;
    position: absolute;
    border-radius: 167px;
    border: 1px solid #b4b4b4;
    left: 400px;
    top: 400px;
    margin-top: -167px;
    margin-left: -167px;
  }
  .circle-big:hover {
    transform: scale(1.015);
  }
  .circle-big .satellite-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-out;
    animation: satellite_rotate_animation 10s linear infinite;
    /*animation-iteration-count:3;*/
  }
  .circle-big .satellite-wrap .satellite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 167px;
    background: #fff;
    box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    transition: all 0.5s ease-out;
  }
  .circle-big-greater {
    width: 600px;
    height: 600px;
    display: block;
    position: absolute;
    border-radius: 300px;
    border: 1px dashed #b4b4b4;
    left: 400px;
    top: 400px;
    margin-top: -300px;
    margin-left: -300px;
  }
  .circle-big-greater:hover {
    transform: scale(1.015);
  }
  .circle-big-greater .satellite-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-out;
    animation: satellite_rotate_animation 10s linear infinite;
    /*animation-iteration-count:3;*/
  }
  .circle-big-greater .satellite-wrap .satellite {
    position: relative;
    width: 20px;
    height: 20px;
    left: 300px;
    background: #fff;
    box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    transition: all 0.5s ease-out;
  }
  .header .canvaszz {
    background-image: none !important;
  }
}
